html {
  // boilerplate
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  text-decoration: none;
  list-style: none;
  padding-inline-start: 0;
}