// Primary
$btn-primary: hsl(322, 100%, 66%);
$btn-hover: hsl(322, 100%, 80%);

// Neutral
$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

// white
$white: hsl(0, 0%, 100%);

// Footer Text
$footer-color: hsl(228, 45%, 44%);
