@use '../globals/colors' as g;

.footer-wrapper {
  background-color: g.$very-dark-cyan;
  color: g.$white;

  a {
    color: g.$white;
  }

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid g.$white;
    border-radius: 50px;
  }

}
