@use '../utils/' as u;
@use '../globals/colors' as g;

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  // padding-inline: u.rem(35);
  // text-align: center;

  @include u.breakpoint(large) {
    margin-block-start: u.rem(71);
    padding-inline-start: u.rem(80);
    padding-inline-end: u.rem(80);
    // grid-template-columns: 1fr 2fr;
    // grid-template-rows: auto;
    // column-gap: u.rem(54);
  }

  .hero-text-block {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-block-start: u.rem(80);

    // Update the width settings as it is too big for 320px/
    // width: min(100% - u.rem(35));
    text-align: center;

    h1 {
      line-height: u.rem(36);
      width: u.rem(280);
      justify-self: center;
    }

    p {
      margin-block-start: u.rem(24);
      line-height: u.rem(24);
      width: u.rem(304);
      justify-self: center;
    }

    .button {
      margin-block-start: u.rem(32);
      width: u.rem(240);
      height: u.rem(40);
      justify-self: center;

      font-size: u.rem(12);
      font-weight: 700;
    }
  }

  .hero-image-block {
    margin-block-start: u.rem(56);
    padding-block-end: u.rem(37);
    justify-self: center;

    img {
      width: u.rem(296);
      align-self: center;
      justify-self: center;
    }
  }
}
